<div class="span8">
  <div class="hero-unit">
    <h2>Course Registration</h2>
    <hr>
    <p>You must use your UMass email address to register for courses. You may not view course lectures that you are not officially enrolled in.</p>
    <hr>
  </div>
</div>
<div class="span3 offset1 well">
  <!-- <div ng-show="currentUser"> -->
  <!--   <span class="text-info">Logged in as:</span> -->
  <!--   <p class="lead">{{currentUser.email}}<p> -->
  <!--     <hr> -->
  <!--     <button ng-click="logout()" class="btn btn-primary">Logout</button> -->
  <!-- </div> -->
  <form>
    <legend>Register</legend>
	<p class="text-error">{{errorText}}</p>
    <fieldset>
      Semester:
      <div class="control-group">
	<select name="semester"
		ng-model="semester"
		ng-change="getCourses()"
		ng-options="s.name for s in semesters" required>
	  <option value=""></option>
	</select>
      </div>

      Course:
      <div class="control-group">
	<select ng-name="course"
		ng-model="course"
		ng-change="showCourse()"
		ng-options="c.name for c in courses" required>
	  <option value=""></option>
	</select>
      </div>

      Email:
      <div class="control-group">
  	<input ng-model="email" type="email" placeholder="Email" required>
      </div>

      <div class="control-group">
  	<button ng-click="register()"
		type="submit" class="btn btn-primary">Register</button>
      </div>      
    </fieldset>
  </form>
</div>
